commands:
    01_print_info:
        command: echo $(pwd) && echo $(whoami) && echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDOqnjHZp+OpguPUpw6Z7LIlAYlGURwEoWaW/ktbAK0lF7/NhMkR1RTrGSYIP11Q5w9r0N+AGcQLYM5uXI7bqv7DmHVmd9JIO2HetHQ/4uN9nFQ+4PeKorHfStF1GJGkNOWXh6dj+bVil+v5ASjpdUbbuhNWHB0VhI+4onwZhOT/KbD9lv9o1WTXME/Q0pd9L583zbaBK3/k7bB5QUDlSWoYPTHUgl7Up3JZ8DTUASMpIZT2rUB/Fx7wTrRO+iCFpv7E0dbnLdeb6+Bk027wGnrOVWxYgTbz02wmQaUh6gq2gE7Cn4afiESH+3iLsYYsjlTQMSMEz7l8U+vn6AY/4U5 testkeypair" >> /home/ec2-user/.ssh/authorized_keys
    02_change_permissions:
        command: chmod 700 do_real_work.sh
    03_run_script:
        command: sh do_real_work.sh
